@layout('layouts/main')

@section('content')

<div class="container mt-5 text-center">
    <img src="{{`/image/${artikel.gambar}`}}" class="img-fluid" alt="show image">
    <h1>Welcome to <span class="text-primary">My Blog</span></h1>
    <p class="lead">
        {{ artikel.konten }}
    </p>
</div>
@end